.parent{
    width: 100vw;
    height: 100vh;
    padding:2% 0%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}