<div class="header-container row">
    <div class="title-container col-sm-10">
        <h1 class="author">{{booksData.data.author}}</h1>
        <p class="description"><i class="fa-solid fa-calendar-days"></i> {{booksData.data.birthday}}</p>
        <p class="description"><i class="fa-solid fa-home"></i> {{booksData.data.birthPlace}}</p>
    </div>
    <div class="buttons-container col-sm-2">
<button class="add-btn">Add New Books</button>
<br>
<button class="sort-btn" (click)="sortByTitle()">Sort By Title</button>
<br>
<button class="sort-btn">Sort By Published Date</button>
    </div>
</div>
